<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/images/styles.css">
<head>
    <meta charset="utf-8">
    <title>{{.Title}}{{.Session}}</title>
    <style>
        body {
            font-family: sans-serif;
        }

        .h11 {
            background: #ddd;
        }

        #sidebar {
            float: left;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
        <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default col-md-12 col-sm-12 col-xs-12" >
            <div class="container-fluid">
                <!-- Заголовок -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Бренд или название сайта (отображается в левой части меню) -->
                    <a class="navbar-brand" href="#">KUBACHI.ru</a>
                </div>
                <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
                <div class="collapse navbar-collapse" id="navbar-main">
                    <!-- Содержимое основной части -->
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Ссылка 2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Ссылка 4</a></li>
                        <!-- Выпадающий список -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Раздел <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Ссылка</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Блок, расположенный справа form-inline navbar-search pull-left -->
                    <form class=" navbar-form navbar-right" role="search" action="/search/">
                        <div class="input-group input-group-sm">
                            <input name="text" type="search" class="form-control" placeholder="Поиск по каталогу...">
                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">Найти</button></span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">

                        <!-- Ссылка -->
                        <li><a href="#">Ссылка</a></li>
                        <!-- Выпадающий список -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Раздел <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Ссылка</a></li>
                                <li><a href="#">Ссылка</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <div  class="col-md-12 col-sm-12 col-xs-12 h11"><h4>{{.Title}}<small>{{.Session}}</small></h4></div>
        <div id="sidebar" class="col-md-2 col-sm-3 col-xs-12 bs-docs-sidebar">
            {{block "sidebar" .}}
            <ul class="nav nav-pills nav-stacked nav bs-docs-sidenav">
                {{- range .Cat}}
                <li class="active"><a href="#">{{.Key}}</a></li>
                {{- range .Value}}
                <li><a href="{{.Url}}">{{.Key}}</a></li>
                {{- end}}
                {{- end}}
            </ul>
            <div class="list-group">
                {{- range .Cat}}
                <a href="#" class="list-group-item">{{.Key}}<span class="badge">22</span></a>
                {{- range .Value}}
                <a href="{{.Url}}" class="list-group-item"> {{.Key}}</a>
                {{- end}}
                {{- end}}
            </div>
            <ul class="nav">
                <li class="nav-header">Главные ссылки</li>
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Обратная связь</a></li>
                <li><a href="#">Каталог</a></li>
                <li class="nav-header">Дополнительные</li>
                <li><a href="#">Наши филиалы</a></li>
                <li><a href="#">Календарь мероприятий</a></li>
                <li class="nav-divider"></li>
                <li><a href="#">Вакансии</a></li>
            </ul>

            <li id="menu-item-43621"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-43621">
                <a class="collapsible-header waves-effect arrow-r "><i class="fa fa-object-ungroup"></i>Utilities<i
                        class="fa fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    <ul class="sub-menu">
                        <li id="menu-item-44246"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44246"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44246"
                                href="https://mdbootstrap.com/utilities/bootstrap-borders/">Borders</a></li>
                        <li id="menu-item-44247"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44247"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44247"
                                href="https://mdbootstrap.com/utilities/bootstrap-clearfix/">Clearfix</a></li>
                        <li id="menu-item-44248"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44248"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44248"
                                href="https://mdbootstrap.com/utilities/bootstrap-close-icon/">Close icon</a></li>
                        <li id="menu-item-44249"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44249"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44249"
                                href="https://mdbootstrap.com/utilities/bootstrap-display-property/">Display</a></li>
                        <li id="menu-item-44250"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44250"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44250"
                                href="https://mdbootstrap.com/utilities/bootstrap-embeds/">Embeds</a></li>
                        <li id="menu-item-44251"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44251"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44251"
                                href="https://mdbootstrap.com/utilities/bootstrap-float/">Float</a></li>
                        <li id="menu-item-44252"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44252"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44252"
                                href="https://mdbootstrap.com/utilities/flexbox/">Flexbox</a></li>
                        <li id="menu-item-44253"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44253"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44253"
                                href="https://mdbootstrap.com/utilities/bootstrap-image-replacement/">Image
                            replacement</a></li>
                        <li id="menu-item-44254"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44254"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44254"
                                href="https://mdbootstrap.com/utilities/bootstrap-position/">Position</a></li>
                        <li id="menu-item-44255"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44255"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44255"
                                href="https://mdbootstrap.com/utilities/bootstrap-screenreaders/">Screenreaders</a></li>
                        <li id="menu-item-44256"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44256"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44256"
                                href="https://mdbootstrap.com/utilities/bootstrap-sizing/">Sizing</a></li>
                        <li id="menu-item-44257"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44257"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44257"
                                href="https://mdbootstrap.com/utilities/bootstrap-spacing/">Spacing</a></li>
                        <li id="menu-item-44258"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44258"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44258"
                                href="https://mdbootstrap.com/utilities/bootstrap-text/">Text</a></li>
                        <li id="menu-item-44259"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44259"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44259"
                                href="https://mdbootstrap.com/utilities/bootstrap-vertical-align/">Vertical align</a>
                        </li>
                        <li id="menu-item-44260"
                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44260"><a
                                class="collapsible-header waves-effect" id="link-menu-item-44260"
                                href="https://mdbootstrap.com/utilities/bootstrap-visibility/">Visibility</a></li>
                    </ul>
                </div>
            </li>

            <div class="well" style="max-width: 340px; padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Заголовок списка</li>
                    <li class="active"><a href="#">Домой</a></li>
                    <li><a href="#">Библиотека</a></li>
                    <li><a href="#">Приложения</a></li>
                    <li class="nav-header">Другой заголовок списка</li>
                    <li><a href="#">Профиль</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>
            <ul class=" list-unstyled">
                <a href="#">
                    <li>Главная</li>
                </a>
                <a href="#">
                    <li>Портфолио</li>
                </a>
                <a href="#">
                    <li>Автор</li>
                </a>
                <a href="#">
                    <li>Контакты</li>
                </a>
            </ul>

            <div class="bs-docs-sidebar hidden-print" role="complementary" style="background: aliceblue none repeat scroll 0% 0%; border-radius: 5px; padding: 10px 0px;">
                <ul class="nav bs-docs-sidenav">

                    <li>
                        <a href="#glyphicons">Значки символов</a>
                        <ul class="nav">
                            <li><a href="#glyphicons-glyphs">Доступные символы</a></li>
                            <li><a href="#glyphicons-how-to-use">Как использовать</a></li>
                            <li><a href="#glyphicons-examples">Примеры</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#nav">Навигация</a>
                        <ul class="nav">
                            <li><a href="#nav-tabs">Вкладки</a></li>
                            <li><a href="#nav-pills">Навигационные кнопки</a></li>
                            <li><a href="#nav-justified">Выравнивание по ширине навигаций</a></li>
                            <li><a href="#nav-disabled-links">Заблокированные ссылки</a></li>
                            <li><a href="#nav-dropdowns">Выпадающее меню</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#navbar">Навигационная панель</a>
                        <ul class="nav">
                            <li><a href="#navbar-default">Дефолтная нав панель</a></li>
                            <li><a href="#navbar-forms">Формы</a></li>
                            <li><a href="#navbar-buttons">Кнопки</a></li>
                            <li><a href="#navbar-text">Текст</a></li>
                            <li><a href="#navbar-links">Неконтекстные ссылки</a></li>
                            <li><a href="#navbar-component-alignment">Компонент выравнивания</a></li>
                            <li><a href="#navbar-fixed-top">Фиксация вверху</a></li>
                            <li><a href="#navbar-fixed-bottom">Фиксация внизу</a></li>
                            <li><a href="#navbar-static-top">Статический верх</a></li>
                            <li><a href="#navbar-inverted">Инвертированная панель</a></li>
                        </ul>
                    </li>
                    <li><a href="#breadcrumbs">Навигационный маршрут</a></li>
                    <li>
                        <a href="#pagination">Постраничный разделение</a>
                        <ul class="nav">
                            <li><a href="#pagination-default">По умолчанию</a></li>
                            <li><a href="#pagination-pager">Пролистування</a></li>
                        </ul>
                    </li>
                    <li><a href="#labels">Метки</a></li>
                    <li><a href="#badges">Значки</a></li>
                    <li><a href="#jumbotron">Jumbotron</a></li>
                    <li><a href="#page-header">Заголовок страницы</a></li>
                    <li>
                        <a href="#thumbnails">Эскизы</a>
                        <ul class="nav">
                            <li><a href="#thumbnails-default">Пример по умолчанию</a></li>
                            <li><a href="#thumbnails-custom-content">Настраиваемое содержимое</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#alerts">Замечания</a>
                        <ul class="nav">
                            <li><a href="#alerts-examples">Примеры</a></li>
                            <li><a href="#alerts-dismissable">Закрытие замечаний</a></li>
                            <li><a href="#alerts-links">Ссылки в замечаниях</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#progress">Индикатор выполнения</a>
                        <ul class="nav">
                            <li><a href="#progress-basic">Основной пример</a></li>
                            <li><a href="#progress-label">С меткой</a></li>
                            <li><a href="#progress-alternatives">Контекстные альтернативы</a></li>
                            <li><a href="#progress-striped">Полосатый индикатор</a></li>
                            <li><a href="#progress-animated">Индикатор с анимацией</a></li>
                            <li><a href="#progress-stacked">Сводный индикатор</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#media">Медиа объект</a>
                        <ul class="nav">
                            <li><a href="#media-default">По умолчанию</a></li>
                            <li><a href="#media-list">Список медиа</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#list-group">Список групп</a>
                        <ul class="nav">
                            <li><a href="#list-group-basic">Основной пример</a></li>
                            <li><a href="#list-group-badges">Значки</a></li>
                            <li><a href="#list-group-linked">Связанные элементы</a></li>
                            <li><a href="#list-group-contextual-classes">Контекстные классы</a></li>
                            <li><a href="#list-group-custom-content">Настраиваемое содержимое</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#panels">Панели</a>
                        <ul class="nav">
                            <li><a href="#panels-basic">Основной пример</a></li>
                            <li><a href="#panels-heading">Панель с заголовком</a></li>
                            <li><a href="#panels-alternatives">Контекстные альтернативы</a></li>
                            <li><a href="#panels-tables">С таблицами</a>
                            </li><li><a href="#panels-list-group">Со списком групп</a>
                        </li></ul>
                    </li>
                    <li><a href="#wells">Ячейки</a></li>
                    <li><a href="#comments"><span class="glyphicon glyphicon-comment"></span> Комментарии</a></li>
                    <li class="divider"></li>
                    <li><a href="http://bootstrap-3.ru/getting-started.php"><span class="glyphicon glyphicon-warning-sign"></span> <strong>Основы Bootstrap</strong></a></li>
                    <li><a href="http://bootstrap-3.ru/bootstraptheme.php"><span class="glyphicon glyphicon-list-alt"></span> <strong>Шаблоны Bootstrap</strong></a></li>
                    <li><a href="http://bootstrap-3.ru/css.php"><span class="glyphicon glyphicon-list"></span> <strong>CSS</strong></a></li>
                    <li><a style="color: rgb(86, 61, 124);" href="http://bootstrap-3.ru/components.php"><span class="glyphicon glyphicon-th-large"></span> <strong>Компоненты</strong></a></li>
                    <li><a href="http://bootstrap-3.ru/javascript.php"><span class="glyphicon glyphicon-cog"></span> <strong>JavaScript</strong></a></li>
                    <li><a href="http://bootstrap-3.ru/customize.php"><span class="glyphicon glyphicon-import"></span> <strong>Настроить и скачать</strong></a></li>
                    <li class="divider"></li>
                </ul>
                <a class="back-to-top" href="#top">Наверх</a>
            </div>


    <h2>Links</h2>

            {{/* The dashes in the following template directives
            ensure the generated HTML of this list contains no
            extraneous spaces or line breaks. */}}

            {{end}}
        </div>

        {{block "content" .}}
        <div id="content" class="col-xs-12 col-md-10  col-sm-9">
            {{.Body}}
            <div id="gallery" class="row">
                <style> #sidebar-left {
                    padding-top: 30px;
                } </style>
                <div class="col-md-12 col-sm-12">
                    {{template "paginator" .}}
                </div>
                {{- range .Links}}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{.URL}}"><img src="{{.Image}}" alt="..."
                                                class=".img-fluid"></a>
                        <div class="caption">

                            <h4><a href="{{.URL}}">{{.Brief}}</a></h4>
                            <p>{{.Description}}</p>
                            <p><a href="{{.URLtoCart}}" class="btn btn-primary" role="button">Купить</a>
                                <a href="{{.URL}}" class="btn btn-default" role="button">Подробнее</a>
                            </p>
                        </div>
                    </div>
                </div>

                {{- end}}
                <div class="col-md-12 col-sm-12">{{template "paginator" .}}</div>
                <div class="col-sm-12 col-md-12">{{.Timer}}</div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</div>
</body>
</html>