{{define "content"}}
<div id="image">

            {{- range .UserCart}}
            <span class="n-product-spec__name-inner">{{.VendorCode}}</span>
            <span class="n-product-spec__value-inner">{{.Price}}</span>
            {{- end}}

{{end}}

 {{define "sidebar"}}
<a href="/">Back</a>
</div>
{{end}}